/*Spacing for slider bar*/
#slider {
width: 100%;
margin-bottom: 10px;
}

/*Dimesions of map*/
#map {
height: 100%;
width: 100%;
}

/*Define size of legend box*/
.foo {
  float: left;
  width: 18px;
  height: 18px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/*Choose colors for each legend box*/
.high {
  background: #b30000;
}

.medium {
  background: #e60000;
}

.low {
  background: #ff8080;
}

.open {
  background: #ffcccc;
}

.flood {
  background: #1E90FF;
}

/*Makes a green circle for legend*/
.circle_green {
    float: left;
    width: 5px;
    padding: 9px 9px;
    border: 1px solid #000000;
    border-radius: 25px;
    background-color: #00FF00;
}
/*Spacing for words next to color boxes on legend (i.e. developed, open space, etc.*/
.space {
padding-top: 3px;
}
