{% extends "floodmap/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block app_navigation_items %}
<h6>Toggle Layers</h6>

<div align = "left">

  <li><input type="checkbox" onClick="flood.setVisible(!flood.getVisible());"  id="ch_flood" name="flood" checked>Flood Map</li>
<div class="foo flood"></div><p class="space">Water</p>

  <li><input type="checkbox" onClick="land.setVisible(!land.getVisible());"  id="ch_land" name="land" checked>Developed Area</li>
<div class="foo high"></div><p class="space">High Density</p>
<div class="foo medium"></div><p class="space">Medium Density</p>
<div class="foo low"></div><p class="space">Low Density</p>
<div class="foo open"></div><p class="space">Open Space</p>

  <li><input type="checkbox" onClick="address.setVisible(!address.getVisible());"  id="ch_address" name="address" checked>Address Points</li>
<div class="circle_green"></div><p>&nbsp;Residential Location</p>

</div>


  <form id='increase-form' action="{% url 'floodmap:home' %}" method="get">
    {% csrf_token %}
  <h6>Flood Animation</h6>
    {% gizmo button get_increase %}
  </form>

  <form id='forecast-form' action="{% url 'floodmap:home' %}" method="get">
      {% csrf_token %}
  <!--<h5>Manual Method</h5>-->
    <!--{% gizmo text_input depth_input %}-->
    <!--{% gizmo button get_flood %}-->

  <h6>Flood Forecast</h6>
    {% gizmo select_input forecast_range_select %}
    {% gizmo date_picker forecast_date_picker_start %}
    <!--{% gizmo date_picker forecast_date_picker_end %}-->
    {% gizmo select_input forecast_time_select %}
    {% gizmo button get_forecast %}
</form>
{% endblock %}

{% block app_content %}
<!-- This extra bit of style defines the size of the "map" div tag area that shows up later -->
    <style>
      .map {
        height: 600px;
        width: 100%;
      }
    </style>

<h5><b>Forecast Slider</b></h5>

<!--Forecast slider bar-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Slider - Snap to increments</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<p>
  <label id="label" for="amount">Flood Depth (meters):</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:normal;">
</p>
<div id="slider"></div>
</body>
</html>

<p>Number of Houses Impacted: <span id="house_count"> {{house_count_dict.0}} </span></p>

<!--div tag for map-->
    <div id="map" class="map"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% if range_list %}
<script>
  var range_list = {{ range_list }};
</script>
  <script src="{% static 'floodmap/js/main.js' %}" type="text/javascript"></script>
{% else %}
<script>
  var house_count_dict = {{ house_count_dict }};
</script>
  <script src="{% static 'floodmap/js/animation.js' %}" type="text/javascript"></script>
{% endif %}
{% endblock %}